old_code/
old_code/*
artifacts/
artifacts/*
agentic_development_docs/project_design_plan/TODO.md

rough_work/

.vscode/

.env
**/.env.local

# Python build / cache artifacts
*.egg-info/
**/__pycache__/

node_modules/*
node_modules/
